{% extends 'main.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock %}

{% block content%}
    
            <div class="profile-user">
                <div class="profile-logo">{{ user.user_profile.username }}</div>
                <div class="user-bio">
                    {{ user.user_profile.bio }}
                </div>
            </div>
            <div class="profile-edit">
                {% if request.user.id == user.user_profile.id %}
                <div class="follow link">Edit Profile</div>
                {% else %}

                {% endif %}
            </div>
        </article>
        {% if request.user.id == user.user_profile.id %}
        <div class="title">Your Projects</div>
        {% else %}
        <div class="title">User's Projects</div>
        {% endif %}
        <article class="projects">
            {% for project in projects %}
                {% include 'base/project_component.html' %}
            {% endfor %}
        </article>
    </section>
{% endblock %}
