<article class="project-wrapper" style="width: 60%;">
  <img class="project-image" src="{{ project.image.url }}" style="width: 100%;" alt="One of {{project.user_project.user_profile.username}}'s Project">
  <div class="project-details">
      <div class="project-title">{{project.title}}</div>
      <div class="split-details">
          <div class="project-username">
              <span >by</span>
              <span><i class='bx bxs-badge-check'></i></span>
              <span>
                 
              </span>
          </div>
          <div class="project-date-posted">
              {{  project.created|date:"F j, Y" }}
          </div>
      </div>
  </div>
  <div class="project-footer">
      <a  class='project-link' href="{% url 'project' project.id %}">Rate</a>
      <span>Dev</span>
  </div>
</article>